
#ErrorDocument 404 /thinkphp-app/error.html  # 定义错误页面
Redirect /thinkphp-app/main.php /thinkphp-app/index.php
#DirectoryIndex default.html index.html default.html index.htm default.php index.php

# VirtualHost
#<VirtualHost *:80>
#    ServerName tpapp.com
#    DocumentRoot "/thinkphp-app"
#    <Directory "/thinkphp-app">
#        Options FollowSymLinks
#        IndexOptions FancyIndexing FoldersFirst NameWidth=* VersionSort XHTML
#        Allow Override All
#        Order allow,deny
#        Allow from all
#    </Directory>
#</VirtualHost>

# url重写
#<IfModule mod_rewrite.c>
#    RewriteEngine on
#    RewriteCond %{REQUEST_FILENAME} !-d  # %{REQUEST_FILENAME} 请求的文件 !-d 不是目录或不存在 !-f 不是文件或不存在
#    RewriteCond %{REQUEST_FILENAME} !-f  # 如果文件存在就直接访问而不执行下面的rewriteRule
#    RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]  # L结束匹配 QSA追加字符串 PT将重写后的URL地址传递给另一个Apache模块进行进一步处理
#</IfModule>

<IfModule mod_rewrite.c>
     RewriteEngine on
     RewriteCond %{REQUEST_FILENAME} !-d
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>

    
